[Unit]
Description=NestJS backend
Requires=nginx.service
Requires=mariadb.service
StartLimitBurst=3
StartLimitIntervalSec=30

[Install]
WantedBy=multi-user.target

[Service]
User=site
WorkingDirectory=/home/site/backend
EnvironmentFile=/home/site/backend/env
ExecStart=/usr/bin/node dist/src/main.js
Restart=on-failure