$root-content-width: 54rem;

@function native-min($a, $b) {
    @return #{"min(#{$a}, #{$b})"};
}

.root-content-sizer {
    max-width: native-min($root-content-width, 100vw);
    min-width: native-min($root-content-width, 100vw);
}
