$root-content-width: 54rem;

@function native-min($a, $b) {
  @return #{"min(#{$a}, #{$b})"};
}

.root-content-sizer {
  max-width: native-min($root-content-width, 100vw);
  min-width: native-min($root-content-width, 100vw);

  .root-content-panel-wrap {
    padding-left: .4rem;
    padding-right: .4rem;
    @media all and (max-width: $root-content-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

