@font-face {
    font-family: 'Koverwatch';
    src: local('Koverwatch'),
    url("/fonts/koverwatch.ttf") format("ttf"),
    url("/fonts/koverwatch.woff") format("woff"),
    url("/fonts/koverwatch.woff2") format("woff2")
;
    font-variant: small-caps;
}

@font-face {
    font-family: 'BigNoodleTooOblique';
    src: local('BigNoodleTooOblique'),
    url("/fonts/bignoodletoo.woff") format("woff"),
    url("/fonts/bignoodletoo.ttf") format("ttf")
;
    font-variant: small-caps;
}

@font-face {
    font-family: 'Futura Demi Bold';
    src: local('Futura Demi Bold'),
    url("/fonts/FuturaBQ-DemiBold.otf") format("opentype");
}

.overwatch-font-shadowed {
    font-family: BigNoodleTooOblique, sans-serif;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
