@import "./fonts.css";

.overwatch-button {
    background-color: orange;
    color: white;
    font-family: 'Futura Demi Bold', sans-serif;
    font-variant-caps: all-small-caps;
    border: 0;
    font-weight: bold;
    display: inline-block;
    opacity: .88;
    cursor: pointer;
    user-select: none;
    font-size: 3.0em;
    line-height: 1em;
    padding: .03em 1.07em .19em 1.07em;
    letter-spacing: 0.03em;
    border-radius: .06em;
    overflow: hidden;
}

.overwatch-default-button {
    background-color: #2991de;
}

.overwatch-main-button {
    background-color: orange;
}

.overwatch-button:disabled {
    background-color: transparent;
}

.panel-bg {
    background-color: rgba(108, 119, 148, 0.8);
}