@import "~@/assets/css/fonts.css";

@mixin overwatch-futura {
  @include overwatch-futura-no-smallcaps;
  font-variant-caps: all-small-caps;
}

@mixin overwatch-futura-no-smallcaps {
  font-family: 'Futura Demi Bold', sans-serif;
}

@mixin overwatch-inline-button {
  @include overwatch-button;
  line-height: 1em;
  border: 0;
  padding: 0;
  display: inline-block;
  //padding: .03em 1.07em .19em 1.07em;
  border-radius: .06em;
}

@mixin overwatch-button-hover-shadow {
  box-shadow: 0 0 .06em .06em white;
}

@mixin overwatch-button {
  @include overwatch-futura;
  user-select: none;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  color: white;
  &:active {
    .background {
      opacity: 1;
    }
  }

  &:hover {
    animation: .1s linear forwards overwatch-button-hover;

    .background {
      opacity: .5;
    }
  }

  @keyframes overwatch-button-hover {
    to {
      @include overwatch-button-hover-shadow;
    }
  }

  & > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  & > *:not(.background) {
    z-index: 2;
  }

  &:disabled > .background {
    background-color: transparent;
    box-shadow: 0 0 1pt 1pt darkgray inset;
    color: lightgrey;
  }

  &:disabled:hover > .background {
    background-color: transparent;
    box-shadow: 0 0 1pt 1pt darkgray inset;
    color: lightgrey;
  }
}

@mixin overwatch-button-bg {
  top: 0;
  opacity: .9;
  letter-spacing: 0.03em;
  border-radius: .06em;
  :disabled {
    background-color: transparent;
  }
  :active {
    opacity: .88;
  }
}

$overwatch-button-main-bg-color: hsl(39, 100%, 55%);
$overwatch-button-default-bg-color: hsl(206, 76%, 55%);

@mixin overwatch-button-bg-default {
  @include overwatch-button-bg;
  background-color: $overwatch-button-default-bg-color;
}

@mixin overwatch-button-bg-main {
  @include overwatch-button-bg;
  background-color: $overwatch-button-main-bg-color;
}

$overwatch-panel-bg-color: rgb(13, 22, 41);

@mixin overwatch-panel {
  @include overwatch-panel-bg;
  @include overwatch-panel-shadow;
}

@mixin overwatch-panel-bg {
  background-color: rgba($overwatch-panel-bg-color, 0.43);
}

@mixin overwatch-panel-shadow {
  box-shadow: 0 .1em .3em $overwatch-panel-bg-color;
}
