@import '~@/assets/css/overwatch-ui.scss';

@mixin tag-bg-theme {
  //background-color: hsl(37, 100%, 65%);
  background-color: hsl(333, 46%, 50%);
}

@mixin tag-bg-map {
  background-color: hsl(266, 56%, 50%);
}

$tag-player-color: $overwatch-button-main-bg-color;
$tag-teammate-color: hsl(181, 70%, 70%);
//$tag-teammate-color: rgb(90, 226, 206);
$tag-enemy-color: hsl(0, 100%, 66%);
$tag-hero-bg-color: rgb(40, 37, 58);
$tag-enemy-color: hsl(0, 100%, 56%);

$invite-bg-color: hsl(208, 18%, 49%);