@import '~@/assets/css/overwatch-ui.scss';

@mixin tag-bg-theme {
  background-color: #fedd8b;
}

@mixin tag-bg-map {
  background-color: #b0d4a1;
}

$tag-player-color: $overwatch-button-main-bg-color;
$tag-ally-color: rgb(90, 226, 206);
$tag-enemy-color: rgb(255, 83, 83);
$tag-hero-bg-color: rgb(40, 37, 58);
